<p id="notice"><%= notice %></p>

<h1>Shift Confirmations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shift_confirmations.each do |shift_confirmation| %>
      <tr>
        <td><%= link_to 'Show', shift_confirmation %></td>
        <td><%= link_to 'Edit', edit_shift_confirmation_path(shift_confirmation) %></td>
        <td><%= link_to 'Destroy', shift_confirmation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shift Confirmation', new_shift_confirmation_path %>
