<p id="notice"><%= notice %></p>

<h1>Shift Availables</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shift_availables.each do |shift_available| %>
      <tr>
        <td><%= link_to 'Show', shift_available %></td>
        <td><%= link_to 'Edit', edit_shift_available_path(shift_available) %></td>
        <td><%= link_to 'Destroy', shift_available, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shift Available', new_shift_available_path %>
